.about {
  background-color: var(--secondary);
  padding: 10vh 0 25vh 4vw;
  position: relative;
}

.about h2 {
  position: relative;
  display: flex;
  gap: 8px;
}

.about h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 260px;
  width: 300px;
  height: 4px;
  background-color: var(--accent);
}

.about p {
  padding-top: 50px;
  width: 60vw;
}

.about img {
  position: absolute;
  bottom: 0;
  right: 0;
}
