.about {
  padding: 0 4vw;
}

.about img {
  width: 30%;
  float: right;
}

.about p {
  padding-top: 50px;
  width: 70vw;
}

@media (max-width: 1024px) and (min-width: 770px) {
  .about p {
    width: auto;
  }

  .about img {
    margin: 3vw 1vw 0 0;
    width: 50%;
  }
}

@media (max-width: 770px) {
  .about p {
    width: 100%;
  }

  .about img {
    width: 40%;
  }
}

@media (max-width: 430px) {
  .about img {
    display: none;
  }

  .about {
    padding: 1rem 2vw;
  }
}
