.pink-button {
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--tertiary);
  padding: 8px 16px;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}

.pink-button:hover {
  background-color: inherit;
  border: 1px solid var(--accent);
  color: var(--heading);
}
