.contact {
  padding: 0 4vw;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.email-link {
  text-align: center;
}

.email-link h3 {
  word-break: break-word;
}

.sm-links-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.linkedin-image {
  width: 80px;
}

.github-image {
  width: 70px;
}

.sm-links-buttons img {
  transition: transform 0.2s ease-in-out;
}

.sm-links-buttons img:hover {
  transform: scale(1.1);
}

.line {
  width: 100%;
  height: 4px;
  background: var(--accent);
}

.footer-content {
  text-align: center;
  padding: 32px 0 64px 0;
}
