.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding: 20vh 4vw 40vh 6vw;
  background-color: var(--primary);
}

.about-button {
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--accent);
  padding: 8px 16px;
  border-radius: 16px;
  transition: all 0.2s ease-in;
}

.about-button:hover {
  border: 1px solid var(--tertiary);
}

.projects-button {
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--tertiary);
  padding: 8px 16px;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}

.projects-button:hover {
  background-color: inherit;
  border: 1px solid var(--accent);
  color: var(--heading);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
