.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding: 20vh 4vw 40vh 6vw;
  background-color: var(--primary);
}

.learn-more {
  font-size: 18px;
  font-weight: 600;
  border: 1px solid var(--accent);
  padding: 8px 16px;
  border-radius: 16px;
  transition: all 0.2s ease-in;
}

.learn-more:hover {
  border: 1px solid var(--tertiary);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
