nav {
  display: flex;
  justify-content: space-between;
  padding: 0 42px 8px 42px;
}

.logo {
  display: flex;
  gap: 8px;
  padding: 8px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 0;
  height: 4px;
  background: var(--accent);
  transition: width 0.3s ease;
}

.button:hover::after {
  width: 100%;
}

.button svg {
  width: 24px;
  fill: var(--heading);
}

.nav-buttons {
  display: flex;
  gap: 64px;
}
