nav {
  display: flex;
  justify-content: space-between;
  padding: 0 4vw;
  position: sticky;
  top: 0;
  flex: 0 0 1;
  background-color: var(--primary);
  transition: box-shadow 0.3s;
  z-index: 100;
}

nav.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  gap: 8px;
  padding: 8px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 600;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 0;
  height: 4px;
  background: var(--accent);
  transition: width 0.3s ease;
}

.button:hover::after {
  width: 100%;
}

.button img {
  width: 24px;
  fill: var(--heading);
}

.nav-buttons {
  display: flex;
  gap: 64px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 430px) {
  nav {
    min-height: 8vh;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 2vw;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
  }

  .logo {
    position: fixed;
    top: 0;
    gap: 8px;
    font-size: 24px;
    background-color: var(--primary);
    width: 100%;
    letter-spacing: 0.2em;
    border-bottom: 1px solid var(--accent);
  }

  .nav-buttons {
    gap: 14vw;
  }

  .nav-buttons p {
    display: none;
  }

  .button::after {
    display: none;
  }

  .button img {
    width: 24px;
  }
}

@media (max-width: 1024px) and (min-width: 430px) {
  nav {
    padding: 0 3vw;
  }
  .logo {
    gap: 8px;
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  .nav-buttons {
    gap: 32px;
  }

  .button {
    font-size: 18px;
    font-weight: 600;
  }
  .button img {
    width: 20px;
  }
}

@media (min-width: 1920px) {
  .logo {
    font-size: 48px;
  }

  .button img {
    width: 32px;
  }
}
