.projects {
  padding: 0 4vw;
  padding-bottom: 2rem;
  width: 100%;
  overflow: hidden;
}

.project-container {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.project-card {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--accent);
  padding: 1rem;
}

.card-title {
  position: relative;
}
.card-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 0;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

.project-card:hover {
  > .card-title::after {
    width: 100%;
  }
}

.made-with-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.made-with-container img {
  width: 20px;
}

.link-button {
  color: var(--heading);
  border: 1px solid var(--accent);
  padding: 8px 16px;
  border-radius: 16px;
  transition: all 0.2s ease-in;
}

.link-button:hover {
  border: 1px solid var(--tertiary);
}

@media (max-width: 1025px) {
  .project-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 770px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .projects {
    padding: 0 2vw;
    padding-bottom: 100px;
  }

  .project-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
