.skills {
  background-color: var(--primary);
  padding: 10vh 0 15vh 4vw;
}
.skills h2 {
  position: relative;
  display: flex;
  gap: 8px;
}

.skills h2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 260px;
  width: 300px;
  height: 4px;
  background-color: var(--accent);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 32px;
  padding: 20vh 10vw 0 10vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--secondary);
  padding: 10% 5%;
}

.card span {
  font-size: 28px;
  font-weight: 600;
  color: var(--heading);
}
