.skills {
  padding: 5rem 4vw;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 24px;
  padding: 4rem 10vw 0 10vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--secondary);
  padding: 8% 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 48px;
}

.card span {
  font-size: 20px;
  font-weight: 600;
  color: var(--heading);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1910px) {
  .skills-container {
    padding: 5rem 5vw 0 0;
  }

  .card img {
    width: 64px;
  }
}

@media (max-width: 1025px) {
  .skills-container {
    padding: 2rem 5vw 0 0;
  }

  .card img {
    width: 32px;
  }
}

@media (max-width: 430px) {
  .skills {
    padding: 3rem 8vw 3rem 4vw;
  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
