body {
  background-color: var(--primary);
}

.title {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.title::after {
  content: "";
  flex-grow: 1;
  height: 4px;
  width: 20vw;
  background-color: var(--accent);
}

@media (max-width: 430px) {
  .title {
    width: 100%;
    overflow: hidden;
  }

  .title::before,
  .title::after {
    content: "";
    flex: 1;
    height: 4px;
    width: 10vw;
    background-color: var(--accent);
  }

  .title::before {
    margin-right: 1rem;
  }

  .title::after {
    margin-left: 1rem;
  }
}
