body {
  background-color: var(--primary);
}

.title {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.title::before,
.title::after {
  content: "";
  flex: 1;
  height: 4px;
  background-color: var(--accent);
}
