body {
  background-color: var(--primary);
}

.title {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.title::after {
  content: "";
  flex-grow: 1;
  height: 4px;
  width: 20vw;
  background-color: var(--accent);
}

@media (max-width: 430px) {
  .title {
    justify-content: center;
    text-align: center;
  }

  .title::before,
  .title::after {
    content: "";
    flex-grow: 1;
    height: 4px;
    width: 20vw;
    background-color: var(--accent);
  }
}
