@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #ffffff;
  --secondary: #f0f9ff;
  --tertiary: #ff8f8f;
  --accent: #7995d2;
  --heading: #000000;
  --text: #5d5a5a;
}
