@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #fff4e6;
  --secondary: #fff4e6;
  --tertiary: #08d9d6;
  --accent: #ff6f3c;
  --heading: #3d2525;
  --text: #635959;
}

h1 {
  all: unset;
  display: block;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading);
}

h2 {
  all: unset;
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: var(--heading);
}

h3 {
  all: unset;
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: var(--heading);
}

p {
  all: unset;
  display: block;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 330px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }
}

@media (min-width: 1910px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }

  p {
    font-size: 32px;
  }
}

button,
a {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

section {
  scroll-margin-top: 80px;
}

@media (max-width: 480px) {
  section {
    scroll-margin-top: 10px;
  }
}
